@font-face {
  font-family: CeliaGarcia;
  src: url("../fonts/CeliaGarcia.ttf");
}

@mixin media($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

html {
  font-size: 13px;

  @include media(400px) {
    font-size: 14px;
  }

  @include media(600px) {
    font-size: 15px;
  }

  @include media(1000px) {
    font-size: 16px;
  }
}

body {
  font-family: "CeliaGarcia", serif;
}

.board {
  --size: 4;
  --gap: 0.75rem;
  --cell: min(15vw, 100px);
  --padding: 1.25rem;

  position: relative;

  display: grid;
  grid-gap: var(--gap);
  margin-inline: auto;
  padding: var(--padding);

  background-color: rgba(0, 119, 24, 0.29);
  border-radius: 10px;
  grid-template-columns: repeat(var(--size), var(--cell));
  grid-template-rows: repeat(var(--size), var(--cell));

  outline: none;

  max-height: calc(
    var(--size) * var(--cell) + (var(--size) - 1) * var(--gap) + var(--padding) *
      2
  );
  max-width: calc(
    var(--size) * var(--cell) + (var(--size) - 1) * var(--gap) + var(--padding) *
      2
  );

  &--size-3 {
    --size: 3;
    --cell: min(20vw, 100px);
  }

  &--size-4 {
    --size: 4;
  }

  &--size-5 {
    --size: 5;
    --gap: 0.5rem;
    --cell: min(12vw, 80px);
  }

  &--size-6 {
    --size: 6;
    --gap: 0.5rem;
    --cell: min(12vw, 70px);
  }

  &--size-7 {
    --size: 7;
    --gap: 0.35rem;
    --cell: min(11vw, 60px);
  }

  &--size-8 {
    --size: 8;
    --gap: 0.35rem;
    --cell: min(10vw, 50px);
  }

  &-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: inherit;

    transition: 0.2s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    &-title {
      position: absolute;
      top: 10%;

      color: #ffffff;
      text-align: center;
      font-size: 1.75rem;
      opacity: 1;
      padding: 1rem;
      letter-spacing: 0.05em;
    }
  }
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  background-color: rgba(255, 255, 165, 1);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-out 0s;

  &:hover {
    background-color: rgba(255, 255, 165, 0.88);
  }

  &--empty {
    opacity: 0;
    pointer-events: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem 0;

  user-select: none;
}

.app-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
}

.info-box {
  border-radius: 5px;
  background-color: rgba(158, 170, 255, 0.37);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #fefefe;

  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  border: none;
  padding: 0.5rem 1rem;

  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &--rounded {
    padding: 0.45rem;
    min-width: auto;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: rgba(18, 73, 7, 0.17);
  }
}

.info-text {
  text-align: center;
  font-size: 1.75rem;
  padding: 1rem;
  letter-spacing: 0.05em;
}

.stack {
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--gap-y-4 {
    row-gap: 1rem;
  }

  &--gap-y-2 {
    row-gap: 0.5rem;
  }

  &--gap-x-2 {
    column-gap: 0.5rem;
  }

  &--gap-2 {
    gap: 0.5rem;
  }
}

.py-4 {
  padding-block: 1rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
